<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.belle.yingyunsuxun.dao.PositionImgDao">
    <insert id="insertIntoPositionImgDao" parameterType="PositionImg">
        insert into position_img values(#{shopId},#{positionId},#{status},#{imgPath})
    </insert>
</mapper>