<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.belle.yingyunsuxun.dao.ShopDao">

    <resultMap id="shopMap" type="Shop">
        <id property="shopId" column="shop_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="shopNumber" column="shop_number"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
    </resultMap>

    <sql id="shopColumn">s.shop_id,s.shop_name,s.shop_number,s.longitude,s.latitude</sql>

    <select id="selectShopListByUserId" resultMap="shopMap" parameterType="int">
        select  <include refid="shopColumn"/>
        from shop s join user_shop us on s.shop_id=us.shop_id
        where us.user_id = #{userId}
    </select>

    <select id="selectShopListByShopNameOrShopNumber" resultMap="shopMap" parameterType="String">
        select <include refid="shopColumn"/>
        from shop s
        where s.shop_name like  #{shopName} or shop_number like #{shopName}
    </select>
</mapper>